<div class="currentTab">
    <ul>
        <li>
            <span class="tab">{{tab}}</span>
        </li>
        <li>
            <span class="song">{{song}}</span>
        </li>
        <li>
            <span class="author">{{author}}</span>
            <span class="artist">{{artist}}</span>
        </li>
            <span class="content">{{content}}</span>
        <li>
            <span class="thumbsup">thumbs up:{{thumbsup}}   </span>
            <span class="thumbsdown">thumbs down:{{thumbsdown}}</span>
        </li>
    </ul>
</div>